/* Line-Height */
ul > li {
    line-height: 1.6;
}

h1 {
    line-height: 1.2;
    letter-spacing: .1rem;
    text-transform: capitalize;
}

h2 {
    line-height: .9;
    letter-spacing: .05rem;
}

h3 {
    line-height: 1.7;
    letter-spacing: .35rem;
}

footer {
    line-height: 20;
    text-transform: uppercase;
}
/* Spacing Letters */
  
/* Text Transform */
  
/* Text Decoration */
  
/* Text Alignment */
  